/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FAF4E6; /* Your primary background color */
    color: #035939; /* Primary text color */
  }
  
  h1, h2, h3 {
    font-weight: bold;
  }
  
/* Add responsive base styles */
@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply text-sm sm:text-base; /* Responsive base text size */
  }
  
  h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl;
  }
  
  h2 {
    @apply text-xl sm:text-2xl lg:text-3xl;
  }
  
  .font-mono {
    @apply tracking-tight sm:tracking-normal;
  }
}
  